# DEFAULT SETTINGS
##################################################
Options +FollowSymLinks +ExecCGI -Indexes
DirectoryIndex index.php index.html index.htm

# REWRITES AND REDIRECTS
##################################################
### REWRITES ###
RewriteEngine on
RewriteOptions MaxRedirects=10
RewriteBase /~adelinofaria/inclosure.info/api/

RewriteRule .* index\.php [L]

#RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
#RewriteRule .* - [F,NS]